@import "./general/general.scss";

.main {
    background-color: var(--globalBackgroundColor);
    position: relative;

    &__container {
        background-color: var(--globalBackgroundColorRevers);
        @include container;
        border-radius: 2rem;
    }

    &__wrapper {
        padding: 2rem;
        padding-top: 5rem;
    }
}