@import "./general/general.scss";
@import './general/variables.scss';

.header {
    background-color: var(--globalBackgroundColor);

    &__container {
        @include container;
    }

    &__wrapper {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: dinamicValues(100px);
    }

    &__link {
        min-width: max-content;
        @include font($fw400);
        font-size: 2rem;
        line-height: 120%;
        color: var(--globalTextColor);
        text-decoration: none;

        margin: auto 0;

        transition: all 0.3s linear;

        @media screen and (max-width: 500px) {
            font-size: 1.5rem;
        }

        &:hover,
        &:focus {
            color: var(--globalThemeColor);
            outline: none;
        }

        &:active {
            text-shadow: 0 0 0.2rem var(--globalFirstShadowColorRevers),
                0 0 2rem var(--globalSecondShadowColorRevers);
        }
    }
}