@import "./general/general.scss";

.heroes {
    background-color: var(--globalBackgroundColorRevers);

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    &__search {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5rem;

        @media screen and (max-width: 700px) {
            flex-direction: column;
            gap: 2rem;
        }
    }

    &__search-area {
        display: flex;
        width: 100%;
        background-color: var(--globalBackgroundColorRevers);
        border: none;
        border-bottom: 1px solid var(--globalTextColorRevers);

        padding: 0.5rem;

        color: var(--globalTextColorRevers);
        @include font ($fw400);
        font-size: 2rem;
        line-height: 120%;

        transition: all 0.3s linear;

        &::placeholder {
            color: var(--globalTextColorRevers);
            @include font ($fw400);
            font-size: 2rem;
            line-height: 120%;
            opacity: 0.5;
        }

        &:focus,
        &:hover {
            border-bottom: 1px solid var(--globalThemeColorRevers);
        }

        @media screen and (max-width: 700px) {
            width: unset;
        }
    }

    &__search-btn {
        min-width: max-content;
        max-width: max-content;
        background-color: var(--globalBackgroundColorRevers);
        border: 0.2rem solid var(--globalTextColorRevers);
        border-radius: 1rem;
        padding: 1rem 3.5rem;
        text-transform: uppercase;
        cursor: pointer;

        transition: all 0.3s linear;

        color: var(--globalTextColorRevers);
        @include font ($fw400);
        font-size: 2rem;
        line-height: 120%;

        &:focus,
        &:hover {
            color: var(--globalThemeColorRevers);
            border-color: var(--globalThemeColorRevers);
        }

        &:active {
            color: var(--globalThemeColorRevers);
            box-shadow: 0 0 0.5rem 0.5rem var(--globalThemeColorRevers), inset 0 0 0.5rem 0.5rem var(--globalThemeColorRevers);
        }
    }

    &__content {
        background-color: var(--globalBackgroundColorRevers);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;

        justify-content: center;
        align-items: center;
    }

    &__pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    &__pagination-point {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        border-radius: 35%;
        color: var(--globalLincColor);
        @include font($fw700);
        font-size: 2rem;
        line-height: 120%;

        border-top: 0.2rem solid transparent;
        border-bottom: 0.2rem solid transparent;

        transition: all 0.3s linear;

        &:focus,
        &:hover {
            border-top: 0.2rem solid var(--globalLincColor);
            border-bottom: 0.2rem solid var(--globalLincColor);
        }

        &:active {
            box-shadow: inset 0 0 0.5rem 0.5rem var(--globalThemeColorRevers);
            color: var(--globalThemeColorRevers);
            border-color: var(--globalThemeColorRevers);
        }

        &--action {
            color: var(--globalThemeColorRevers);

            &:focus,
            &:hover {
                border-color: var(--globalThemeColorRevers);
            }
        }
    }
}

.hero {
    &__wrapper {
        cursor: pointer;
        position: relative;
        border: 0.2rem solid var(--globalLincColor);
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0 0 0.5rem 0.5rem var(--globalLincColor);

        &:hover {
            border-color: var(--globalLincHoverColor);
            box-shadow: 0 0 0.5rem 0.5rem var(--globalLincHoverColor);

            & .hero__text-wrapper {
                height: 100%;
                opacity: 1;
            }
        }
    }

    &__img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26rem;
        height: 26rem;
    }

    &__img {
        width: auto;
        height: 100%;
    }

    &__text-wrapper {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 1) 100%);
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        height: 0;
        opacity: 0;

        transition: all 0.3s linear;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__text-title {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        margin-top: 2rem;
        color: var(--globalThemeColorRevers);
        @include font($fw700);
        font-size: 2rem;
        line-height: 120%;
        text-align: center;
        text-decoration: underline;
    }

    &__text-descr {
        margin-top: 1rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 0.2rem solid var(--globalLincColor);
        color: var(--globalLincColor);
        @include font($fw400);
        font-size: 1.3rem;
        line-height: 120%;
        text-align: center;
        width: 20rem;
    }

    &__btn {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        margin-right: 2rem;
        margin-bottom: 2rem;
        color: var(--globalThemeColorRevers);
        @include font($fw700);
        font-size: 1rem;
        line-height: 120%;
        text-align: right;
    }
}

.hero-modal {
    position: fixed;
    padding: 1rem;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    &__wrapper {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        //@include container;
        border-right: 0.3rem solid var(--globalThemeColorRevers);
        border-bottom: 0.3rem solid var(--globalThemeColorRevers);
        border-bottom-right-radius: 2rem;
        border-top-left-radius: 2rem;
        background-color: var(--globalBackgroundColorRevers);
    }

    &__wrapper-top {
        display: flex;
        flex-direction: row;

        @media screen and (max-width: 600px) {
            flex-direction: column;
        }
    }

    &__img-wrapper {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-right-radius: 2rem;
        border-top-left-radius: 2rem;
        border-left: 0.3rem solid var(--globalThemeColorRevers);
        border-top: 0.3rem solid var(--globalThemeColorRevers);

        max-width: 60rem;
        max-height: 60rem;


        width: dinamicValues(600px);
        height: dinamicValues(600px);

        @media screen and (max-width: 600px) {
            width: 100%;
            height: unset;
        }

        &::after {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(180deg, rgba(57, 255, 20, 0) 0%, rgba(57, 255, 20, 0.8) 80%, rgba(57, 255, 20, 1) 100%);
        }
    }

    &__img {
        height: 100%;
        width: auto;

        @media screen and (max-width: 600px) {
            width: 100%;
            height: auto;
        }
    }

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 2rem;

        max-width: 30rem;

        @media screen and (max-width: 600px) {
            max-width: unset;
        }
    }

    &__text-title {
        @include font($fw700);
        font-size: 2rem;
        line-height: 120%;
        color: var(--globalThemeColorRevers);
        text-align: center;
    }

    &__text-descr {
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 0.2rem solid var(--globalLincColor);
        color: var(--globalLincColor);
        @include font($fw400);
        font-size: 1.5rem;
        line-height: 120%;
        text-align: center;
    }

    &__details {
        color: var(--globalLincColor);
        @include font($fw400);
        font-size: 1.3rem;
        line-height: 120%;
        text-align: center;

        transition: all 0.3s linear;

        &:hover,
        &:focus {
            outline: none;
            color: var(--globalThemeColorRevers);
        }

        &:active {
            text-shadow: 0 0 0.2rem var(--globalFirstShadowColorRevers),
                0 0 2rem var(--globalSecondShadowColorRevers);
        }
    }

    &__wrapper-bottom {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;

        max-width: 90rem;

        @media screen and (max-width: 600px) {
            max-width: unset;
        }
    }

    &__bottom-title {
        color: var(--globalLincColor);
        @include font($fw400);
        font-size: 2rem;
        line-height: 120%;
        text-transform: uppercase;
    }

    &__bottom-url {
        color: var(--globalLincColor);
        @include font($fw400);
        font-size: 1.3rem;
        line-height: 120%;
        text-align: right;

        transition: all 0.3s linear;

        &:hover,
        &:focus {
            outline: none;
            color: var(--globalThemeColorRevers);
        }

        &:active {
            text-shadow: 0 0 0.2rem var(--globalFirstShadowColorRevers),
                0 0 2rem var(--globalSecondShadowColorRevers);
        }
    }

    &__comics-bar {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        gap: 0.5rem;
        justify-items: start;

        @media screen and (max-width: 1100px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__comics-item {
        color: var(--globalLincColor);
        @include font($fw400);
        font-size: 1.2rem;
        line-height: 120%;
    }
}

.progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;

    @media screen and (max-width: 800px) {
        flex-direction: column;
    }


    &__outer {
        position: relative;
        overflow: hidden;
        background-color: var(--globalBackgroundColorRevers);

        border-radius: 1rem;
        border: 0.2rem solid var(--globalThemeColorRevers);
        width: 30%;
        height: 4rem;

        transition: all 0.3s linear;

        @media screen and (max-width: 800px) {
            width: 40%;
        }

        @media screen and (max-width: 600px) {
            height: 1rem;
        }
    }

    &__inner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
    }

    &__text {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 0;
        right: 0;
        @include font($fw700);
        font-size: 1.3rem;
        line-height: 120%;
        color: var(--globalTextColorRevers);
        text-transform: uppercase;
        transform: translateY(-50%);

        transition: all 0.3s linear;

        @media screen and (max-width: 800px) {
            font-size: 1rem;
        }

        @media screen and (max-width: 600px) {
            transform: translateY(-50%) scale(0);
        }
    }
}